In [1]:
# ETL- 
# collect the data-> drop all missing rows-> load into a warehouse
# SPECIFIC TASKS
# EL- database=> visualize as a graph
# -> clean (GOLD)
# ELT-
# dump employee information in a data lake. Data Analysts would use it differently
# HRs would use it diff
# Managers,vendors-> different use from the same data!
# extract the data and dump into DATA LAKE first
# then keep transforming all you want for diff use cases!
# Extract
# Transform
# Load
# 1 use case?
# collect the data-> drop all missing rows-> load into a warehouse
# multiple use cases?

In [2]:
# Data Lake-> dumpyard => files, images, dbs, JSON, videos....
# Dropbox, google drive, one drive
# Azure Data Lake-> (Azure Storage)
# Google Cloud-> Google Cloud Storage
# AWS-> S3

In [3]:
# Infinite Storage
# BLOB-> Binary Large Objects

In [4]:
# Hadoop, MongoDB, Any big

In [5]:
# 1 machine store 2 numbers
# store 3 numbers-> 1,2,3
# 1 or 2 numbers-> small data
# 3 more more numbers-> BIG data!

In [7]:
# MySQL, SQL server, postgres-> SMALL data-> linear optimized storage

In [8]:
# M1-> 1,2---- replication--- M3-> 1,2
# M2-> 3                      M4-> 3
# distributed storage

In [ ]:
# SHARDING 
# M1-> 1,2
# M2-> 2,3
# M3-> 3,1

In [ ]:
# Small Data
# Every row is a file
# file-> 1 replication
# 1 replica stored on a separate machine

In [ ]:
# Big Data
# Every column is a file
# file-> N shards
# 1 shard-> 3 copies
# each copy on a diff machines

In [9]:
# Small-> Transaction 
#M1-> 1,4
# m2-> 3
# 10ms-> to search 1 row (hypothetical)
# Parallel search will begin in M1 and M2
# M2-> 10ms gives up; M1-> after 20ms-> finds 2; 4
#M3-> 1,4
# m4-> 3
# Editing the data-> easy
# everything is stored nearly, linearly
# Searching becomes a problem-> 
# as the size of data grows-> the search time grows
# data at top-> faster, data at end-> Slowest

In [ ]:
#M1-> 1,2-> all 3 machines parallel search
#m2-> 2,3
#m3-> 3,1
# M1-> after 20ms-> finds 2-> replaces to 4
# M2-> after 10ms-> finds 2-> replaces 4
# m3-> after 20ms-> gives up

In [ ]:
# m1-> after 20ms-> finds 2-> replaces to 4
# (now we know the index)
# m2-> after 10ms-> gives up
# now jump to M3-> replace index with 4
# m1-> 1,2-> 
# m2-> 3
# m3-> 1,2
# m4-> 3

In [ ]:
# consider searching
# oltp-> m1: 1,2.   m2: 3.    m3: 1,2.    m4: 3
# olap-> m1: 1,2.   m2: 2,3.   m3: 3,1
# 2: 
# OLTP: m1-> 20ms; m2-> gives up (10ms)
# OLAP: m1-> 20ms; m2-> 10ms; m3-> gives up(20ms)
# whoever finds first returns first
# OLAP would have taken 10ms for 1,2,3
# OLTP would've taken 10ms for 1,3 and 20ms for 2

In [10]:
# ONLINE Transaction Processes -> OLTP
# OLTP-> small data, efficient in editing the data

In [ ]:
# Online Analytical Processes -> OLAP
# OLAP-> big data, poor performance in editing the data

In [12]:
# use cases:
# OLTP (SOURCE)---> OLAP (TARGET)
# OLTP-make all changes---commit---> OLAP-no more changes
# small data OLTP ------ big data OLAP
# mobile, web, IoT, robotics, games----- ML, DA, DE, AI
# SQL,MySQL,Postgres,Neo4j,MongoDB-> OLTP
# Hadoop, Spark, data lakes, data warehouses-> OLAP

In [ ]:
# register-> add, mul
# registers-> addresses 
# register-> 16 bit
# address-> 16 bit 
# pointers-> 16 bit 
# int-> 16 bit 
# bitness software-> 16 bit

In [ ]:
# Heirarchy -> Data Science
#.          raw data
#            /      \ 
#  unstructured      structured
#    |                |         \      
#    blob           OLAP.       OLTP
#    |              |  |        |.   \
#    everything   sql. nosql    sql. nosql
#    OLTP SQL Use: Credentials, Accounts
#.   OLTP NOSQL- categroes, subcategories, IoT
#.   OLAP SQL-> semi structured-> big data follows schema
#.    OLAP NoSQL-> no-structure-> IoT, Advertising, Marketing
# OLAP NoSQL-> GMAIL, Google Analytics-> HBase